// distances from top of image
$human-middle: 60px;
$human-height: 440px;

$male-head: 2px;
$male-chest: 124px;
$male-chest-pos: 39px;
$male-chest-width: 78px;
$male-waist: 176px;
$male-waist-pos: 45px;
$male-waist-width: 64px;
$male-hips: 195px;
$male-hips-pos: 42px;
$male-hips-width: 70px;
$male-feet: 443px;

$female-head: 3px;
$female-chest: 112px;
// $female-chest-width: ;
$female-waist: 168px;
// $female-waist-width: ;
$female-hips: 205px;
// $female-hips-width: ;
$female-feet: 444px;

//colors

$main: #20558a;
$secondary: #ff5672;
