doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAALCwsAAAAAADMzMwACAgIACAgIAA8PDwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERERERERERERERERERERERERMRERERERERERERERERERERERERERERERERMRUREREREREREREREREREREREREREREREREREREREREREUEREREREREREBERERERERERAREREREREREREREREREREREhERERERERERH//wAA//8AAMABAADgAQAA8AEAAPgBAAD8AQAA/8EAAP/BAAD/wQAA/8EAAP/hAAD/8QAA//kAAP/9AAD//wAA" rel="icon" type="image/x-icon")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css" rel="stylesheet")
    title body-measurements
  body
    .wrapper
      .form  
        label(for="height").input-container.height 
          span Рост:
          input#height.val-input.height(type="number")
          span.units sm
        label(for="chest").input-container.chest  
          span Грудь:
          input#chest.val-input.chest(type="number")
          span.units sm
        label(for="waist").input-container.waist 
          span Талия:
          input#waist.val-input.waist(type="number")
          span.units sm
        label(for="hips").input-container.hips 
          span Бёдра:
          input#hips.val-input.hips(type="number")
          span.units sm
        label(for="weight").input-container.weight 
          span Вес:
          input#weight.val-input.weight(type="number")
          span.units kg
      .representation
        span#top-line.dashed
        
        span#height-value
        span#height-arrow
          span.arrow-line
        
        span#chest-value
        span#chest-arrow
          span.arrow-line
        
        span#waist-value
        span#waist-arrow
          span.arrow-line
        
        span#hips-value
        span#hips-arrow
          span.arrow-line
        
        span#weight-value

        span#bottom-line.dashed
        img#human(src="images/male.png")